<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Product App</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div id="app">
            <div class="product">

                <div class="product-image">
                    <img v-bind:src="image" />
                </div>

                <div class="product-info">
                    <h1>{{ title }}</h1>
                    <p v-if="inventory > 10">In Stock</p>
                    <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out</p>
                    <p v-else :class="{outOfStock: true}">Out of Stock</p>

                    <ul>
                        <li v-for="d in details">{{ d }}</li>
                    </ul>

                    <div v-for="(v, index) in variants" :key="v.id"
                        class="color-box" :style="{ backgroundColor: v.color }"
                        @mouseover="updateSelected(index)">
                        <!-- you can use '@' to replace 'v-on' -->
                    </div>

                    <button v-on:click="addToCart"
                            :disabled="inventory <= 0"
                            :class="{disabledButton: inventory <= 0}">Add to Cart</button>

                    <div class="cart">
                        <p>Cart {{cart}}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="main.js"></script>
    </body>
</html>