body {
  font-family: tahoma;
  color:#282828;
  margin: 0px;
}

#app {
  padding: 0 5rem;
}

.nav-bar {
  background: linear-gradient(-90deg, #84CF6A, #16C0B0);
  height: 60px;
  margin-bottom: 15px;
}

.product {
  display: flex;
  flex-flow: wrap;
  padding: 1rem 5rem;
}

.product-image img {
  border: 1px solid #d8d8d8;
  width: 70%;
  margin: 20px 40px;
  box-shadow: 0px .5px 1px #d8d8d8;
}

.product-image {
  width: 80%;
}

.product-image,
.product-info {
  margin-top: 10px;
  width: 50%;
}

.quantity-status {
  color: grey;
}

.color-box {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  display: inline-block;
  cursor: pointer;
}

.cart {
  position: fixed;
  bottom: 5rem;
  right: 0rem;
  background: white;
  box-shadow: 0 0 5px 0px grey;
  border: 1px solid #d8d8d8;
  padding: 5px 20px;

  transition-property: bottom;
  transition-duration: 0.1s;
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
}

@keyframes cart-jump-animation {
  0% { bottom: 5rem; }
  30% { bottom: 6rem; }
  70% { bottom: 4rem; }
  100% { bottom: 5rem; }
}

.cart-jump {
  animation-name: cart-jump-animation;
  animation-duration: 0.4s;
}

button {
  margin-top: 30px;
  border: none;
  background-color: #1E95EA;
  color: white;
  height: 40px;
  width: 100px;
  font-size: 14px;
  cursor: pointer;
} 

.disabledButton {
  background-color: #d8d8d8;
}

.review-form, .review-box {
  width: 100%;
  padding: 20px;
  margin: 10px 40px;
  border: 1px solid #d8d8d8;
}

.review-form input[type=text] {
  width: 100%;  
  height: 25px;
  margin-bottom: 20px;
}

.review-form input[type=submit] {
  margin-left: 30%;
  width: 40%;  
  height: 25px;
  margin-bottom: 20px;
}

.review-form textarea {
  width: 100%;
  height: 60px;
}

.review-form label {
  display: block;
  margin: 5px 0;
}

.outOfStock {
  color: red;
}